{% assign product_found = false %}
{% assign skip = false %}
{% if type == 'block' %}
  {% assign collection_group = products | map: 'id' | prepend: 'block' %}
  {% assign collection_group_thumb = collection_group | append : 'thumb' %}
  {% assign collection_group_mobile = collection_group | append : 'mobile' %}
{% else %}
  {% assign collection_group = products | map: 'id' %}
  {% assign collection_group_thumb = collection_group | append : 'thumb' %}
  {% assign collection_group_mobile = collection_group | append : 'mobile' %}
{% endif %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ListItem",
    "itemListElement": [
      {% for product in products limit: limit %}
        {
          "@type": "ListItem",
          "position": "{{ forloop.index | json }}",
          "url": "{{ shop.url }}{{ product.url }}",
          "name": "{{ product.title }}"
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>

<div class="products">
  {% for product in products limit: limit %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
    {% if product.id == skip_product.id or skip == true %}
      {% assign product_found = true %}
    {% else %}
      {% if forloop.rindex0 == 0 and product_found == false and forloop.length != products.count and template != 'search' and template != 'index' and template != 'page.details' %}
        {% assign skip = true %}
      {% else %}

        {% include 'product-thumbnail', sidebar: sidebar %}

        {% if products_per_row == 2 %}
          {% cycle collection_group: '', new_row %}
        {% elsif products_per_row == 3 %}
          {% cycle collection_group: '', '', new_row %}
        {% elsif products_per_row == 4 %}
          {% cycle collection_group: '', '', '', new_row %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
