<div style='display:none' id='shappify_custom_options_{{ product.id }}'></div>
<script async  src="//secure.apps.shappify.com/apps/options/generate_options.php?shop={{shop.permanent_domain}}&product_id={{ product.id }}"></script>