<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="ten columns offset-by-three page">
  <div class="section clearfix">  
    {{ page.content }}
  </div>
</div>